
body {
    font-family: Arial, sans-serif;
    background-color: #240e5d;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 40px;
    padding-left: 50px;
    /* border: 1px solid blue;
    border-radius: 25px; */
}

.navbar {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-top: 30px;
}

.buttons {
    padding-top: 20px;
    gap: 20px;
    padding-right: 40px;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-dark {
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color: #2a0886;
}

.btn-primary {
    border: 1px solid rgb(233, 6, 82);
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #E92D69;
}


.hero {
    list-style-type: none;
    padding: 40px;
    padding-left: 50px;
}

.hero-content {
    display: flex;
    width: 100%;
}

.hero-images {
    display: flex;
    width: 100%;
    gap: 40px;
}


.hero-text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero-text p {
    margin: 20px 0;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary {
    background-color: #E92D69;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

footer {
    background-color: #240e5d;
    padding: 20px 20px; 
    display: flex;
    justify-content: space-between;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    flex-direction: row;
    gap: 50px;
    margin: 0 10px;
}

footer p {
    margin-bottom: 10px;
}







/* Media Query for Mobile Screens */
@media only screen and (max-width: 480px) {

    body{
        background-color: aquamarine;
        width: 100%;
    }
    .logo {
        float: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding-left: 70px;
    }
    
    .hero-content {
        flex-direction: column;
    }

    .hero-images {
        width: 98%;
        flex-direction: column;
    }
    
    .cta-buttons {
        float: center;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }
}

/* Media Queries for Tablet screens */
/* @media only screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-color: red;
        width: 100%;
    }

    .hero-content {
        width: 100%;
        
    }
    
    .navbar {
        gap: 30px;
    }
    
    .hero {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        text-align: left;
    }

    .hero-content {
        gap: 50px;
    }

    .hero-text {
        max-width: 50%;
    }

    .hero-images {
        flex-direction: column;
        gap: 20px;
    }

} */
    
/* Media Query for laptop Screens */
/* @media (min-width: 1024px) {
    body{
        background-color: green;
        width: 98%
    }
    .hero-content {
        gap: 80px;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-images {
        gap: 30px;
    }

    .hero-image {
        max-width: 350px;
    }

    footer {
        padding: 30px 20px;
    }
}  */

    